#formulario{
    background-color: rgba(6, 53, 92, 0.425);
    width: 400px;
    height: 450px;
    margin: 245 auto;
    text-align: center;
    border-radius: 50px;
}
h1{
    color: aliceblue;
}
label{
color: aliceblue;
}
body{
    background-color: rgb(136, 224, 224);
}
div{
    text-align: center;
}
h4{
    text-align: center;
}
link{
    display: flex;

}
